<h1>revelize</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<% end %>

<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://dl.dropboxusercontent.com/s/19h9zko47uo7pn2/revelize_vid.mp4" type="video/mp4">
</video>


