
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">


<div class="center">
  <h1 color="white">revelize</h1>
  
  <%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <br><br>

    <%= f.submit "log in" %>
    <br><br>
    
    <button>
      <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
    </button>
  <% end %>

</div>

<video autoplay loop id="video-background" muted plays-inline>
  <source src="http://dl.dropboxusercontent.com/s/zlyj8x56bpoqccs/revelize_vid.mp4?dl=0" type="video/mp4">
</video>