<div class="navbar">
  <a href="/">Home</a>
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/logout">Log Out</a>
</div>

<br><br>

<div class="main">
<%= form_tag invite_path(@outing) do %>
  <label>Invite Friends:</label><br>
  <% @users.each do |user| %>
    <label><%= user.username %></label>
    <%= check_box_tag :'outing[user_ids][]', user.id %>
  <% end %>
  <br><br>
  <%= submit_tag "Invite" %>
<% end %>
</div>

<br>

<%= link_to "Skip to Suggest", suggest_path(@outing) %>
