<div class="navbar">
  <a href="/">Home</a>
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="/">revelize</a>
  </div>
</div>

<br><br>

<div class="main">
<h4>Create a New Outing</h4>
<%= form_for @outing do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :event_start %>
  <%= f.datetime_field :event_start %><br><br>
  <%= f.label :voting_deadline %>
  <%= f.datetime_field :voting_deadline %><br><br>
  <button type="submit" class="button" style="vertical-align:middle"><span>Create</span></button>
<% end %>
</div>
