<h4>Create a New Outing</h4>

<%= form_for @outing do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :event_start %>
  <%= f.datetime_field(:event_start, {:class => 'datepicker'}) %><br><br>
  <%= f.label :voting_deadline %>
  <%= f.datetime_field :voting_deadline %><br><br>
  <%= f.submit class: 'waves-effect waves-light btn' %>
<% end %>
<br><br>
<%= link_to "Your Profile", user_path(@user) %>
