<div class="navbar">
  <a href="/">Home</a>
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="#">revelize</a>
  </div>
</div>

<br><br>

<div class="main">
<% if !@top_suggestions.empty? %>
<h3>Results are in for <big><%= @outing.name %></big>!</h3>
<h3>Looks like everyone's going to <big><%= @top_suggestions.first.name %></big></h3><br>
<table align="center">
  <tr>
  <% @top_suggestions.each_with_index do |suggestion, index| %>
    <td style="vertical-align: top;"><h4><big><%="#{index + 1}. #{suggestion.name}" %></big></h4>
    <p><%="Number of Likes: "%><big><%="#{suggestion.likes.count}" %></big></p>
    <% @likes_hash[suggestion.name].each do |name, number_of_likes| %>
      <p><%= name %>: <%= number_of_likes %></p>
    <% end %></td><br>
  <% end %>
<% else %>
  <h3>There were no suggestions for this outing!</h3><br>
<% end %>
  </tr>
</table>
</div>
