<div class="navbar">
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/users/<%= session[:user_id] %>/suggestions">Your Suggestions</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="/">revelize</a>
  </div>
</div>

<br><br>

<div class="main">
<h1><%= @outing.name %></h1>
<table>
  <tr>
<td style="vertical-align: top;">
<%= form_for @suggestion, url: post_suggestion_path , method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <button type="submit" class="button" style="vertical-align:middle"><span>Add</span></button>
<% end %>
<br>
<div>
    Your Suggestions
    <ul>
        <% @user_suggestions.each do |suggestion| %>
            <li><%= suggestion.name %><br><%= suggestion.address %><br><br></li>
        <% end %>
    </ul>
</div>

<%= form_tag submit_suggestions_path do %>
    <button type="submit" class="button" style="vertical-align:middle"><span>Vote</span></button>
<% end %></td>
<td style="vertical-align: top;"><h4>Friends Invited: </h4>
  <div class="vertical-friend-menu">
    <% @outing_attendees.each do |user| %>
      <%= link_to user.username, user_suggestions_path(user) %>
    <% end %>
  </div><br>
  <%= link_to "Invite", invite_path(@outing), class: "link" %></td>
  </tr>
</table>
</div>
