<div class="navbar">
  <a href="/">Home</a>
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="/">revelize</a>
  </div>
</div>

<br><br>

<div class="main">
<h1><%= @outing.name %></h1>
<h4>Event Start: <%= @outing.event_start.strftime("%B %d, %Y at %I:%M%p") %></h4>
<h4>Time Left to Vote: <%= @outing.timer_formatted %></h4>
<h4>Your Remaining Votes: <%= @remaining_likes %></h4>
<div>
  <table>
    <tr>
    <% @suggestions.each do |suggestion| %>
        <%= suggestion.name %><br>
        <%= suggestion.address %><br>
        <%= form_for suggestion do |f| %>
            <%= f.hidden_field :remaining_likes, value: @remaining_likes %>
            <%= f.hidden_field :outing_id, value: @outing.id %>
            <%= f.submit "+", class: "like_button" %>
        <% end %>
        <%= form_for suggestion do |f| %>
            <%= f.submit "-", class: "like_button" %>
        <% end %>
        <p>Total Likes: <%= suggestion.likes.count %></p>
        <p>Your Likes: <%= @user_likes.select{|like| like.suggestion == suggestion}.count %></p>
        <br></td>
    <% end %>
    </tr>
  </table>
</div>
<%= link_to "Suggest", suggest_path(@outing), class: "link" %>
</div>
