<h1><%= @outing.name %></h1>
<h4>Event Start: <%= @outing.event_start.strftime("%B %d, %Y at %I:%M%p") %></h4>
<h4>Time Left to Vote: <%= @outing.timer_formatted %></h4>
<div>
    <% @suggestions.each do |suggestion| %>
        <%= suggestion.name %><br>
        <%= suggestion.address %><br>
        <%= form_for suggestion do |f| %>
            <%= f.submit "+" %>
        <% end %>
        <%= form_for suggestion do |f| %>
            <%= f.submit "-" %>
        <% end %>
        <p>Total Likes: <%= suggestion.likes.count %></p>
        <p>Your Likes: <%= @user_likes.select{|like| like.suggestion == suggestion}.count %></p>
        <br><br>
    <% end %>
</div>
