<div class="navbar">
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/users/<%= session[:user_id] %>/suggestions">Your Suggestions</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="/">revelize</a>
  </div>
</div>

<br><br>


<div class="main">
<h1><%= @outing.name %></h1>
<h4>Event Start: <%= @outing.event_start.strftime("%B %d, %Y at %I:%M%p") %></h4>
<h4>Time Left to Vote: <%= @outing.timer_formatted %></h4>
<h4>Your Remaining Votes: <%= @remaining_likes %></h4>
<div>
  <table class="fixed" style="width:100%">
    <tr><td>
    <% @suggestions.each do |suggestion| %>
        <%= suggestion.name %><br>
        <%= suggestion.address %><br>
        <%= form_for suggestion do |f| %>
            <%= f.hidden_field :remaining_likes, value: @remaining_likes %>
            <%= f.hidden_field :outing_id, value: @outing.id %>
            <%= f.submit "+", class: "like_button" %>
        <% end %>
        <%= form_for suggestion do |f| %>
            <%= f.submit "-", class: "like_button" %>
        <% end %>
        <p>Total Likes: <%= suggestion.likes.count %></p>
        <p>Your Likes: <%= @user_likes.select{|like| like.suggestion == suggestion}.count %></p>
        <br>
    <% end %></td>
    <td valign="top">
    <% if !@top_suggestions.empty? %>
        Looks like <big><big><%= @top_suggestions.first.name %></big></big> is in the lead!
        <% @top_suggestions.each_with_index do |suggestion, index| %>
          <h4><big><%="#{index + 1}. #{suggestion.name}" %></big></h4>
          <p><%="Number of Likes: "%><big><%="#{suggestion.likes.count}" %></big></p>
        <% end %>
    <% else %>
    <% end %>
    </td>
    </tr>
  </table>
</div>
<%= link_to "Suggest", suggest_path(@outing), class: "link" %>
</div>
